<!DOCTYPE html>
<html>

  <head>
    <title>Tic-Tac-Toe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Tic-Tac-Toe Game</h1>
    <div class="board">
      <% gameBoard.forEach((cell, index) => { %>
      <div class="cell" data-index="<%= index %>"><%= cell %></div>
      <% }) %>
    </div>

    <script src="/javascripts/app.js"></script>
  </body>

</html>